/resources/Block 1 - Main/текст 1 блок RU LV EN.docx
/resources/Block 2 - About company/текст 2 блок RU LV EN.docx
/resources/Block 3 - Our services/текст 3 блок RU LV EN.docx
/resources/Block 4 - Properties/текст 4 блок RU LV EN.docx
/resources/Block 5 - Submit form/текст блок 5 RU LV EN.docx
/resources/Block 6 - Feedback/текст блок 6 RU LV EN.docx
/resources/Block 7 - Footer/текст блок 7 RU LV EN.docx
/resources/Properties page/текст окно объекты RU LV EN.docx
/resources/Single Property page/текст окно описание объекта RU LV EN.docx


