* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: #FFFFFF;
}

body {
    width: 100vw;
    background-image: url('/resources/Обложка\ всего\ сайта/Обложка фон.png');
    overflow-x: hidden;
}

/* ================================
   HEADER SECTION STYLING
   ================================ */
 .header_section {
    background-image: linear-gradient(rgba(74, 85, 98, 22%), rgba(255, 255, 255, 0)),url('/resources/Блок\ 1\ -\ Главная/картинка для главной страницы.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
 }

/* ================================
   LOGO STYLING
   ================================ */
.header_logo {
    position: relative;
    max-width: 148px;
    height: auto;
    margin-top: 30px;
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* ================================
   NAVBAR STYLING
   ================================ */
.navigation {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 550px;
    margin-top: 30px;
    margin-left: 37%;
}

.language_choice {
    height: 30px;
    width: 50px;
    padding-left: 6px;
    padding-right: 15px;
    margin-top: 40px;
    margin-right: 50px;
    border: white solid 1px;
    border-radius: 5px;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: url('/resources/Блок\ 1\ -\ Главная/галочка для выбора языка.png') no-repeat right center;
    background-size: 8px;
    background-color: rgba(0, 0, 0, 0.0);
    background-position: 85% center;

    color: white;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.nav_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}

.nav_options li {
    list-style-type: none;
    text-shadow: 1px 1px 1px rgb(119, 119, 119);
}

.header_text {
    margin-left: 100px;
    margin-top: 20px;
    width: 700px;
}

.header_text strong {
    color: #DCC19D;
    font-weight: 200;
    text-shadow: 1px 1px 1px black;
}

h1 {
    font-family: 'Playfair Display SC';
    font-weight: 100;
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
    line-height: 150%;
}

.header_text p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 150%;
    font-weight: 300;
    width: 900px;
    color: #FFFFFF;
}

.main_button {
    background-color: rgb(221, 195, 156);
    border: none;
    width: 250px;
    height: 55px;
    margin-top: 30px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.main_button:hover,
.contact_button:hover {
    background-color: white;
}

.middle_background {
    background: 
        url('/resources/Обложка\ всего\ сайта/Обложка_снежинки.png'),
        linear-gradient(to bottom, rgb(73, 85, 97), rgb(224, 226, 228));
    background-size: cover, contain;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ================================
   ABOUT COMPANY SECTION STYLING
   ================================ */
.about {
    height: 620px;
    display: flex;
    margin: 90px 120px 0;
}

.company {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    overflow: scroll;
    padding-left: 10px;
}

.about>div {
    display: flex;
    padding-right: 50px;
    margin-top: 12px;
}

.about div>img {
    height: 500px;
}

.company h2,
h2 {
    color: #DCC19D;
    font-family: 'Playfair Display SC';
    font-weight: 100;
    font-size: 38px;
    letter-spacing: -1.5px;
}

.company h3 {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #DCC19D;
    letter-spacing: 17px;
    margin-top: 20px;
}

.company p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
    margin-top: 10px;
    color: #E5E3E3;
}

.company strong {
    color: #E5E3E3;
    font-weight: 600;
}

.signature {
    margin-top: 10px;
}

.company_contact img {
    width: auto;
    height: 25px;
    margin-bottom: 20px;
    padding: 0;
    margin-right: 10px;
}

.watsapp:hover,
.telegram:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
}

.watsapp a > img,
.telegram a > img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.company_contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
}

.watsapp a,
.telegram a {
    display: flex;
    align-items: center;
    color: rgb(220, 193, 157);
}

.watsapp,
.telegram {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

/* ================================
   OUR SERVICES SECTION STYLING
   ================================ */
 .our_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 400px;
 }

 .our_services h2 {
    margin-bottom: 10px;
 }

 .services_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
    gap: 20px 60px;
    padding: 30px 0;
    background: rgba(255, 255, 255, 0.1);;
 }

 .services div img {
    width: 30px;
    height: 30px;
 }

 .services {
    width: 270px;
 }

 .services div {
    display: flex;
    align-items: flex-end;
}

.services div img {
    margin-right: 10px;
    margin-bottom: 3px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(220, 193, 157);
}

.services p {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #E5E3E3;
    text-align: justify;
}

/* ================================
   MAIN PAGE PROPERTIES SECTION STYLING
   ================================ */
.properties {
    width: 900px;
    height: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.properties h2 {
    margin-bottom: 20px;
}

.properties_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #39434C;
    width: 930px;
    height: 450px;
}

.properties_container p {
    margin: 20px;
    color: #E5E3E3;
    font-family: 'Montserrat', sans-serif;
}

.short_preview {
    display: flex;
    justify-content: space-around;
    width: 850px;
}

.short_preview img {
    width: 180px;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.short_preview img:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.short_preview p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #39434C;
    margin: 5px 0;
    text-align: center;
}

.short_preview > div {
    width: 180px;
    height: 280px;
    background: white;
}

.all_properties {
    position: relative;
    top: 25px;
    left: 34%;
    margin-top: 20px;
}

.all_properties:hover {
    color: #DCC19D;
}

.property_icons img {
    width: 15px;
    height: 15px;
}

.property_icons {
    display: flex;
    justify-content: space-around;
    margin: 15px 5px 0;
    height: 30px;
}

.property_icons p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-right: 5px;
}

.property_icons span {
    display: flex;
    align-items: center;
}

/* ================================
   SUBMIT SECTION STYLING
   ================================ */
.submission {
    height: 500px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-image: url('/resources/Блок\ 5\ -\ Форма\ заявки/the-real-estate-agent.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.submission article {
    background-color: #39434C;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
    margin-right: 50px;
}

.submission p {
    font-family: 'Montserrat', sans-serif;
    color: #E5E3E3;
    font-weight: 300;
    padding-bottom: 20px;
}

.submission h3 {
    width: 290px;
    color: #E5E3E3;
    font-family: 'Playfair Display SC';
    font-weight: 100;
    font-size: 38px;
    letter-spacing: -1.5px;
    margin-bottom: 10px;
}

.submission p strong {
    color: #DCC19D;
    font-weight: 400;
}

.submission strong {
    color: #DCC19D;
    font-weight: 100;
}

form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.user_info {
    height: 150px;
    border-radius: 10px;
    background-color: #E5E3E3;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    border: none;
}

input {
    border: none;
    border-bottom: 1px solid #39434C;
    outline: none;
    padding: 10px 0;
    background-color: #E5E3E3;
    width: 290px;
}

input::placeholder {
    color: #39434C;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.contact_button {
    margin: 10px 0 20px;
    width: 350px;
    height: 55px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 300;
    background-color: rgb(221, 195, 156);
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

form>button:hover {
    background-color: white;
}

.consent>input {
    width: auto;
    margin-right: 10px;
}

.consent {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    display: flex;
}

/* ================================
   FEEDBACK SECTION STYLING
   ================================ */
.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.feedback h2 {
    margin: 40px 0 20px;
    color: #39434C;
}

.feedback>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    border-radius: 30px;
    background-color: rgb(195, 199, 206);
    gap: 20px 60px;
    padding: 30px;
    flex-wrap: wrap;
}

.feedback p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: justify;
    color: #39434C;
}

.feedback img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.feedback article>div {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.feedback article {
    width: 280px;
}

.feedback article div > p:first-of-type {
    font-weight: 600;
}

/* ================================
   FOOTER SECTION STYLING
   ================================ */
footer {
    background-color: #39434C;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 30px 20px;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: #E5E3E3;
    font-weight: 200;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_logo {
    width: 148px;
    height: auto;
    margin: 10px 0 15px;
}

.phone,
.email {
    margin-bottom: 10px;
    font-weight: 400;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.right > p {
    margin-top: 50px; 
}

/* ================================
   PROPERTIES.HTML PAGE STYLING
   ================================ */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.filter_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    /* height: 150px; */
    margin-top: 30px;
}

.gallery {
    margin-top: 40px;
    width: 950px;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px 50px;
    /* padding: 0 20px; */
}

.gallery_heading {
    font-family: 'Playfair Display SC';
    font-weight: 100;
    font-size: 38px;
    color: #DCC19D;
    margin-bottom: 25px;
    line-height: 150%;
}

.gallery article {
    background-color: rgb(249, 238, 223);
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    width: 930px;
}

.filter select,
.filter input {
    box-sizing: border-box;
    border: #DCC19D solid 1px;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 5px;
    cursor: pointer;
    background: url('/resources/Окно\ объекты/галочка для выбора фильтра.png');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 95% center;
    font-family: 'Montserrat',sans-serif;
    color: #39434C;
    height: 30px;
    font-weight: 300;
}

.bin img {
    width: 17px;
    height: 20px;
}

.bin {
    box-sizing: border-box;
    border: #DCC19D solid 1px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.filter_region {
    width: 200px;
}

select::-ms-expand {
    display: none;
}

.filter_type,
.filter_series {
    width: 100px;
}

.filter_housing_type {
    width: 120px;
}

.filter_area,
.filter_level,
.filter_price {
    all: unset;
    width: 100px;
    padding: 0 5px 1px;
}

.filter_area::placeholder,
.filter_level::placeholder,
.filter_price::placeholder {
    font-size: 14px;
    margin-left: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
  }

